* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

/*Первый блок*/
.name {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #C0C0C0;
}

.name li {
    display: flex;
}

.name li img {
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0 5px;
}

.name li h1 {
    width: 500px;
}
/*Первый блок*/
nav {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: #C0C0C0;
}

nav ul {
    margin: 10px;
    padding: 15px;
    list-style: none;
    display: flex;
}

.navigation li {
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0 15px;
    letter-spacing: 0.065em;
    transition: 0.5s;
    background-color: #A9A9A9;
    width: 150px;
    text-align: center;
}

.navigation li:hover {
    letter-spacing: 0.09em;
    background-color: #DCDCDC;
}

.navigation li a {
    color: white;
    text-decoration: none;
}

.navigation li a:hover {
    color: #2f2f2f;
}