.up-button {
    position: fixed;
    padding: 0;
    bottom: 60px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid #a9a9a9;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.shown {
    display: inline-block;
}