.main {
    margin: 30px 0 0 0;
    padding:0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 450px;
    flex-wrap: nowrap;
    background-color: #C0c0c0;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    transition: 0.5s;
}

.section:hover {
    border-radius: 50px;
    background-color: #DCDCDC;
    width: 33%;
}

.photo{
    border-radius: 15px;
    max-width: 200px;
    align-self: center;
}

.title-section {
    text-align: center;
}

.text-section {
    margin-top: 0;
    text-align: center;
    padding: 0 15px;
    width: 400px;
}
